/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Navbar*/

#Navbar {
  display: flex;
  justify-content: center;
  padding: 0.5%;
  background: rgba(7, 6, 6, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#menu {
  display: flex;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}
.link {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 25px;
  font-size: larger;
  text-transform: uppercase;
}
/*Landing*/
.landing {
  background-image: url(./images/landing1.jpg);
  height: 50vh;
  background-size: cover;
}
.info-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  flex-direction: row-reverse;
  font-size: larger;
}
.info h2 {
  margin-bottom: 20px;
}

.info h2 {
  color: red;
}
.info h4 {
  color: #555;
}
.info p {
  color: black;
}
.me {
  height: 40vh;
  width: 40vh;
}
/*about*/
